textarea {
  border-color: white !important;
}

textarea:focus {
  border-color: white !important;
}

/* .my-header-class {
  background-color: lightgreen;
} */

.language_change {
  margin-bottom: 10px !important;
  margin-right: 20px !important;
  border-radius: 5px !important;
  padding: 8px !important;
}
