/* .ag-header-row {
  position: absolute;
  overflow: hidden;
  background-color: lightgray !important;
} */

/* .ag-theme-alpine .ag-row-hover {
  background-color: lightblue !important;
}

.my-hover-class:hover {
  background-color: #000;
}
.ag-cell-value,
.ag-group-value {
  overflow: hidden;
  text-overflow: ellipsis; */
/* padding-bottom: 20px !important;
} */
/* 
.ag-theme-alpine {
  --ag-foreground-color: rgb(126, 46, 132);
  --ag-background-color: rgb(249, 245, 227);
  --ag-header-foreground-color: rgb(204, 245, 172);
  --ag-header-background-color: rgb(209, 64, 129);
  --ag-odd-row-background-color: rgb(0, 0, 0, 0.03);
  --ag-header-column-resize-handle-color: rgb(126, 46, 132);

  --ag-font-size: 17px;
  --ag-font-family: monospace;
} */

textarea {
  border-color: white !important;
}

textarea:focus {
  border-color: white !important;
}

/* .my-header-class {
  background-color: lightgreen;
} */

.language_change {
  margin-bottom: 10px !important;
  margin-right: 20px !important;
  border-radius: 5px !important;
  padding: 8px !important;
}
