@import 'variables';

._deltarm-icon-list-numbers::before {
  content: $_deltarm-icon-list-numbers;
}

._deltarm-icon-warning::before {
  content: $_deltarm-icon-warning;
}

._deltarm-icon-warning-alt::before {
  content: $_deltarm-icon-warning-alt;
}

._deltarm-icon-single-user::before {
  content: $_deltarm-icon-single-user;
}

._deltarm-icon-single-user-alt::before {
  content: $_deltarm-icon-single-user-alt;
}

._deltarm-icon-send-alt::before {
  content: $_deltarm-icon-send-alt;
}

._deltarm-icon-send::before {
  content: $_deltarm-icon-send;
}

._deltarm-icon-diamond-alt::before {
  content: $_deltarm-icon-diamond-alt;
}

._deltarm-icon-diamond::before {
  content: $_deltarm-icon-diamond;
}

._deltarm-icon-umbrella-alt::before {
  content: $_deltarm-icon-umbrella-alt;
}

._deltarm-icon-umbrella::before {
  content: $_deltarm-icon-umbrella;
}

._deltarm-icon-split::before {
  content: $_deltarm-icon-split;
}

._deltarm-icon-split-alt::before {
  content: $_deltarm-icon-split-alt;
}

._deltarm-icon-database-alt::before {
  content: $_deltarm-icon-database-alt;
}

._deltarm-icon-database::before {
  content: $_deltarm-icon-database;
}

._deltarm-icon-stethoscope-alt::before {
  content: $_deltarm-icon-stethoscope-alt;
}

._deltarm-icon-stethoscope::before {
  content: $_deltarm-icon-stethoscope;
}

._deltarm-icon-airplane::before {
  content: $_deltarm-icon-airplane;
}

._deltarm-icon-arrow-left-alt::before {
  content: $_deltarm-icon-arrow-left-alt;
}

._deltarm-icon-arrow-left::before {
  content: $_deltarm-icon-arrow-left;
}

._deltarm-icon-arrow-right-alt::before {
  content: $_deltarm-icon-arrow-right-alt;
}

._deltarm-icon-arrow-right::before {
  content: $_deltarm-icon-arrow-right;
}

._deltarm-icon-menu::before {
  content: $_deltarm-icon-menu;
}

._deltarm-icon-menu-alt::before {
  content: $_deltarm-icon-menu-alt;
}

._deltarm-icon-question-alt::before {
  content: $_deltarm-icon-question-alt;
}

._deltarm-icon-question::before {
  content: $_deltarm-icon-question;
}

._deltarm-icon-translation-alt::before {
  content: $_deltarm-icon-translation-alt;
}

._deltarm-icon-translation::before {
  content: $_deltarm-icon-translation;
}

._deltarm-icon-arrow-down-alt::before {
  content: $_deltarm-icon-arrow-down-alt;
}

._deltarm-icon-arrow-down::before {
  content: $_deltarm-icon-arrow-down;
}

._deltarm-icon-respond-arrow-alt::before {
  content: $_deltarm-icon-respond-arrow-alt;
}

._deltarm-icon-respond-arrow::before {
  content: $_deltarm-icon-respond-arrow;
}

._deltarm-icon-cogwheel-alt::before {
  content: $_deltarm-icon-cogwheel-alt;
}

._deltarm-icon-cogwheel::before {
  content: $_deltarm-icon-cogwheel;
}

._deltarm-icon-add-alt::before {
  content: $_deltarm-icon-add-alt;
}

._deltarm-icon-add::before {
  content: $_deltarm-icon-add;
}

._deltarm-icon-crop-alt::before {
  content: $_deltarm-icon-crop-alt;
}

._deltarm-icon-crop::before {
  content: $_deltarm-icon-crop;
}

._deltarm-icon-eraser-alt::before {
  content: $_deltarm-icon-eraser-alt;
}

._deltarm-icon-eraser::before {
  content: $_deltarm-icon-eraser;
}

._deltarm-icon-arrow-up-alt::before {
  content: $_deltarm-icon-arrow-up-alt;
}

._deltarm-icon-arrow-up::before {
  content: $_deltarm-icon-arrow-up;
}

._deltarm-icon-remove-alt::before {
  content: $_deltarm-icon-remove-alt;
}

._deltarm-icon-remove::before {
  content: $_deltarm-icon-remove;
}

._deltarm-icon-remove-circled-alt::before {
  content: $_deltarm-icon-remove-circled-alt;
}

._deltarm-icon-remove-circled::before {
  content: $_deltarm-icon-remove-circled;
}

._deltarm-icon-check-alt::before {
  content: $_deltarm-icon-check-alt;
}

._deltarm-icon-check::before {
  content: $_deltarm-icon-check;
}

._deltarm-icon-check-all-2::before {
  content: $_deltarm-icon-check-all-2;
}

._deltarm-icon-check-all-alt::before {
  content: $_deltarm-icon-check-all-alt;
}

._deltarm-icon-verified::before {
  content: $_deltarm-icon-verified;
}

._deltarm-icon-trash-can-alt::before {
  content: $_deltarm-icon-trash-can-alt;
}

._deltarm-icon-trash-can::before {
  content: $_deltarm-icon-trash-can;
}

._deltarm-icon-file-download-alt::before {
  content: $_deltarm-icon-file-download-alt;
}

._deltarm-icon-file-download::before {
  content: $_deltarm-icon-file-download;
}

._deltarm-icon-eye-alt::before {
  content: $_deltarm-icon-eye-alt;
}

._deltarm-icon-eye::before {
  content: $_deltarm-icon-eye;
}

._deltarm-icon-pdf::before {
  content: $_deltarm-icon-pdf;
}

._deltarm-icon-pdf-alt::before {
  content: $_deltarm-icon-pdf-alt;
}

._deltarm-icon-grid-interface-alt::before {
  content: $_deltarm-icon-grid-interface-alt;
}

._deltarm-icon-bullet-list-alt::before {
  content: $_deltarm-icon-bullet-list-alt;
}

._deltarm-icon-grid-interface-3::before {
  content: $_deltarm-icon-grid-interface-3;
}

._deltarm-icon-bullet-list::before {
  content: $_deltarm-icon-bullet-list;
}

._deltarm-icon-floppy-disk-1::before {
  content: $_deltarm-icon-floppy-disk-1;
}

._deltarm-icon-floppy-disk-alt::before {
  content: $_deltarm-icon-floppy-disk-alt;
}

._deltarm-icon-home-alt::before {
  content: $_deltarm-icon-home-alt;
}

._deltarm-icon-home::before {
  content: $_deltarm-icon-home;
}

._deltarm-icon-zoom-alt::before {
  content: $_deltarm-icon-zoom-alt;
}

._deltarm-icon-zoom::before {
  content: $_deltarm-icon-zoom;
}
