@function unicode($str) {
  @return unquote('"\\#{$str}"');
}

$_deltarm-icon-list-numbers: unicode(ea05);
$_deltarm-icon-warning: unicode(ea08);
$_deltarm-icon-warning-alt: unicode(ea09);
$_deltarm-icon-single-user: unicode(ea0a);
$_deltarm-icon-single-user-alt: unicode(ea0b);
$_deltarm-icon-send-alt: unicode(ea0e);
$_deltarm-icon-send: unicode(ea0f);
$_deltarm-icon-diamond-alt: unicode(ea10);
$_deltarm-icon-diamond: unicode(ea11);
$_deltarm-icon-umbrella-alt: unicode(ea12);
$_deltarm-icon-umbrella: unicode(ea13);
$_deltarm-icon-split: unicode(ea14);
$_deltarm-icon-split-alt: unicode(ea15);
$_deltarm-icon-database-alt: unicode(ea16);
$_deltarm-icon-database: unicode(ea17);
$_deltarm-icon-stethoscope-alt: unicode(ea18);
$_deltarm-icon-stethoscope: unicode(ea19);
$_deltarm-icon-airplane: unicode(ea1a);
$_deltarm-icon-arrow-left-alt: unicode(ea1b);
$_deltarm-icon-arrow-left: unicode(ea1c);
$_deltarm-icon-arrow-right-alt: unicode(ea1d);
$_deltarm-icon-arrow-right: unicode(ea1e);
$_deltarm-icon-menu: unicode(ea1f);
$_deltarm-icon-menu-alt: unicode(ea20);
$_deltarm-icon-question-alt: unicode(ea21);
$_deltarm-icon-question: unicode(ea22);
$_deltarm-icon-translation-alt: unicode(ea23);
$_deltarm-icon-translation: unicode(ea24);
$_deltarm-icon-arrow-down-alt: unicode(ea25);
$_deltarm-icon-arrow-down: unicode(ea26);
$_deltarm-icon-respond-arrow-alt: unicode(ea27);
$_deltarm-icon-respond-arrow: unicode(ea28);
$_deltarm-icon-cogwheel-alt: unicode(ea29);
$_deltarm-icon-cogwheel: unicode(ea2a);
$_deltarm-icon-add-alt: unicode(ea2b);
$_deltarm-icon-add: unicode(ea2c);
$_deltarm-icon-crop-alt: unicode(ea2e);
$_deltarm-icon-crop: unicode(ea2f);
$_deltarm-icon-eraser-alt: unicode(ea30);
$_deltarm-icon-eraser: unicode(ea31);
$_deltarm-icon-arrow-up-alt: unicode(ea32);
$_deltarm-icon-arrow-up: unicode(ea33);
$_deltarm-icon-remove-alt: unicode(ea34);
$_deltarm-icon-remove: unicode(ea35);
$_deltarm-icon-remove-circled-alt: unicode(ea36);
$_deltarm-icon-remove-circled: unicode(ea37);
$_deltarm-icon-check-alt: unicode(ea38);
$_deltarm-icon-check: unicode(ea39);
$_deltarm-icon-check-all-2: unicode(ea3a);
$_deltarm-icon-check-all-alt: unicode(ea3b);
$_deltarm-icon-verified: unicode(ea3c);
$_deltarm-icon-trash-can-alt: unicode(ea3d);
$_deltarm-icon-trash-can: unicode(ea3e);
$_deltarm-icon-file-download-alt: unicode(ea3f);
$_deltarm-icon-file-download: unicode(ea40);
$_deltarm-icon-eye-alt: unicode(ea41);
$_deltarm-icon-eye: unicode(ea42);
$_deltarm-icon-pdf: unicode(ea44);
$_deltarm-icon-pdf-alt: unicode(ea45);
$_deltarm-icon-grid-interface-alt: unicode(ea46);
$_deltarm-icon-bullet-list-alt: unicode(ea47);
$_deltarm-icon-grid-interface-3: unicode(ea48);
$_deltarm-icon-bullet-list: unicode(ea49);
$_deltarm-icon-floppy-disk-1: unicode(ea4a);
$_deltarm-icon-floppy-disk-alt: unicode(ea4b);
$_deltarm-icon-home-alt: unicode(ea4c);
$_deltarm-icon-home: unicode(ea4d);
$_deltarm-icon-zoom-alt: unicode(ea4e);
$_deltarm-icon-zoom: unicode(ea4f);
