$deltarm-font-path: './DeltaRM' !default;

@font-face {
  font-family: 'DeltaRM';
  font-style: normal;
  font-weight: normal;
  src: url('#{$deltarm-font-path}/DeltaRM.eot');
  src: url('#{$deltarm-font-path}/DeltaRM.eot') format('embedded-opentype'),
    url('#{$deltarm-font-path}/DeltaRM.woff2') format('woff2'), url('#{$deltarm-font-path}/DeltaRM.woff') format('woff'),
    url('#{$deltarm-font-path}/DeltaRM.ttf') format('truetype'), url('#{$deltarm-font-path}/DeltaRM.svg') format('svg');
}

i[class*='_deltarm-icon-'] {
  display: inline-block;
  font: normal normal normal 1em/1 'DeltaRM', Helvetica, Arial, sans-serif;

  /* Better Font Rendering */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
  text-transform: none;
}

@import './DeltaRM/icons';
