@font-face {
  font-family: 'HelveticaNeue Thin';
  src: url('./HelveticaNeue/HelveticaNeue-Thin.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Thin Italic';
  src: url('./HelveticaNeue/HelveticaNeue-ThinItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Extra Light';
  src: url('./HelveticaNeue/HelveticaNeue-ExtraLight.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Extra Light Italic';
  src: url('./HelveticaNeue/HelveticaNeue-ExtraLightItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Light';
  src: url('./HelveticaNeue/HelveticaNeue-Light.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Light Italic';
  src: url('./HelveticaNeue/HelveticaNeue-LightItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Regular';
  src: url('./HelveticaNeue/HelveticaNeue-Regular.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Regular Italic';
  src: url('./HelveticaNeue/HelveticaNeue-RegularItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Medium';
  src: url('./HelveticaNeue/HelveticaNeue-Medium.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Medium Italic';
  src: url('./HelveticaNeue/HelveticaNeue-MediumItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Semi Bold';
  src: url('./HelveticaNeue/HelveticaNeue-Medium.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Semi Bold Italic';
  src: url('./HelveticaNeue/HelveticaNeue-MediumItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Bold';
  src: url('./HelveticaNeue/HelveticaNeue-Bold.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Bold Italic';
  src: url('./HelveticaNeue/HelveticaNeue-BoldItalic.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Extra Bold';
  src: url('./HelveticaNeue/HelveticaNeue-Black.ttf');
}

@font-face {
  font-family: 'HelveticaNeue Extra Bold Italic';
  src: url('./HelveticaNeue/HelveticaNeue-ExtraBoldItalic.otf');
}
