@font-face {
  font-family: 'OpenSans Thin';
  src: url('./OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans Thin Italic';
  src: url('./OpenSans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Light';
  src: url('./OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Light Italic';
  src: url('./OpenSans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: 'OpenSans Light';
  src: url('./OpenSans/OpenSans-Light.ttf');
}

@font-face {
  font-family: 'OpenSans Light Italic';
  src: url('./OpenSans/OpenSans-LightItalic.ttf');
}

@font-face {
  font-family: 'OpenSans Regular';
  src: url('./OpenSans/OpenSans-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans Regular Italic';
  src: url('./OpenSans/OpenSans-Italic.ttf');
}

@font-face {
  font-family: 'OpenSans Medium';
  src: url('./OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans Medium Italic';
  src: url('./OpenSans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'OpenSans Semi Bold';
  src: url('./OpenSans/OpenSans-SemiBold.ttf');
}

@font-face {
  font-family: 'OpenSans Semi Bold Italic';
  src: url('./OpenSans/OpenSans-SemiBoldItalic.ttf');
}

@font-face {
  font-family: 'OpenSans Bold';
  src: url('./OpenSans/OpenSans-Bold.ttf');
}

@font-face {
  font-family: 'OpenSans Bold Italic';
  src: url('./OpenSans/OpenSans-BoldItalic.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Bold';
  src: url('./OpenSans/OpenSans-ExtraBold.ttf');
}

@font-face {
  font-family: 'OpenSans Extra Bold Italic';
  src: url('./OpenSans/OpenSans-ExtraBoldItalic.ttf');
}
